body {
}

header {
  margin-bottom: 3rem;
}
header > div > * {
  display: inline-block;
  text-align:left;
}

header p.subtitle {
  display: inline-block;
  margin-left: 1rem;
}



a:link,
a,
a:hover {
  text-decoration: none;
  Background: none;
}
