svg {
  height: 24px;
  weight: 24px;
}
header .title-box{
  position: relative;
}
.site-title {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.site-nav {
  float: right;
  right: 0;
}
